@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #FFFFFF;
    --cor2: #eeecec;
    --cor3: #009F04;
    --cor4: #003E04;
    --font1: serif;
    --font2: monospace;
}

body, html {
    background: url('../imagens/pexels-timmossholder-974314.jpg') no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    background-color: var(--cor1);
    font-family: var(--font2);
    font-size: 1.5em;
    padding: 15px 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.363);
}

header img {
    position: absolute;
    top: 16px;
    left: 0;
}

nav {
    flex: auto 0 0;
}

nav a {
    color: var(--cor4);
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color: var(--cor3);
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
}

form {
    text-align: center;
    background-color: var(--cor1);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    color: var(--cor4);
    padding: 20px;
    border-radius: 10px;
}

form h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: var(--font2);
    font-size: 2.5em;
}

.texto {
    width: 60vw;
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid var(--cor4);
    background-color: var(--cor2);
}

#botao {
    width: 64vw;
    margin: 15px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: var(--cor3);
    color: black;
}

#botao:hover {
    background-color: var(--cor4);
    color: var(--cor3);
    cursor: pointer;
}

form a {
    color: var(--cor4);
    text-decoration: none;
    float: left;
    margin-left: 20px;
}

form a:hover {
    color: var(--cor3);
}